
.waveee{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
    opacity: .5;
}
.reg-head{
    color: #284b63;
}
.admin-staff-reg-color{
    height: 100vh;
    background-size: cover;
}
.admin-staff-reg-head{
    text-align: center;
    padding-top: 3%;
    color: black;
}
.admin-staff-reg-head h2{
    font-weight: bolder;
    font-size: 35px;
}
.admin-staff-reg-inputfields{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
    gap: 10px;
}
.admin-staff-reg-input-row input{
    display: flex;
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid #38d39f;
    border-radius: 8px;
    color: black;
}

.admin-staff-reg-input-row ::placeholder{
    color: gray;
    font-weight: bold;
}
.admin-staff-reg-btn{
    display: flex;
    justify-content: center;
}
.admin-staff-reg-btn button{
    height: 50px;
    width: 28%;
    background-color: #284b63;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
}
.admin-staff-reg-btn button:hover{
    letter-spacing: 1px;
    transition: 0.8s;
    border: 1px solid black;
}
.staff-file{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.staff-file input{
    padding: 8px 20px;
    height: 50px;
    width: 27%;
    border-radius: 8px;
    border: 2px solid #38d39f;
    background-color: transparent;
    color: black;
}
.staff-file ::placeholder{
    color: white;
    font-weight: bold;
}
#adminstaffreg-input{
    padding-right: 157.9%;
}