body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-btn,.staff-btn{
    background-color: #38d39f;
    height: 50px;
    width: 90px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.btn-container{
    display: flex;
}
a{
    color: black;
}